@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
* {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}
.container {
    max-width: 60rem;
    padding-left: 1rem;
    padding-right: 1rem;
    margin-left: auto;
    margin-right: auto;
}

.nav {
    display: flex;
    list-style: none;
    border-bottom: 2px solid black;
    box-sizing: border-box;
    width: 100%;
    height: 3rem;
}

.headeritem {
    background: rgb(56, 126, 255);
    height: 100%;
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3rem;
}

.headeritem:hover {
    background: rgb(108, 159, 255);
}

.headeritem:active {
    background: rgb(28, 107, 253);
}

.hyperbutton {
    background: red;
    text-decoration: none;
}

main {
    margin-top: 1rem;
}


.subcontainer {
    width: 100%;
    height: 39rem;
    background: rgb(179, 179, 179);
    display: flex;
    justify-content: space-between;
    box-shadow: rgba(0, 0, 0, 0.4) 2px 2px 20px;
}

.leftsub {
    width: 40%;
    height: 100%;
    background: rgb(173, 173, 173);
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.5rem;
}

.rightsub {
    width: 30%;
    height: 100%;
    background: rgb(173, 173, 173);
}

.name {
    width: 100%;
    min-height: 3rem;
    max-height: fit-content;
    text-align: center;
    font-size: 2rem;
    border: greenyellow 2px solid;
}

.accountdiv {
    width: 80%;
    height: 60%;
    background: rgb(97, 97, 97);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 1rem;
}

.subinfo {
    width: 100%;
    height: 40%;
    background: rgb(190, 190, 190);
    display: flex;
    align-items: center;
    border: 1px solid black;
    box-sizing: border-box;
    border-radius: 5px;
}

.subsubinfoleft {
    height: 100%;
    width: 60%;
    background: rgb(218, 218, 218);
}

.subsubinforight {
    height: 100%;
    width: 100%;
    background: rgba(240, 240, 240, 0.795);
    text-align: center;
}



footer {
    margin-top: 8rem;
}

.footer {
    position: absolute;
    bottom: 0;
    background: rgb(100, 97, 97);
    width: 100%;
    text-align: center;
}

.picture {
    width: 100%;
}

p {
    margin: 0rem 0;
    font-size: 1rem;
}

.bigfont {
    font-size: 1.5rem;
}

.blue {
    color: rgb(0, 132, 255);
}