---
layout: base.njk
pagination:
    data: players
    size: 1
    alias: player
permalink: "players/{{ player.name | slug }}/"
---

<div class="subcontainer">
    <div class="leftsub">
    <div class="accountdiv">
        <div class="subinfo">
            <div class="subsubinfoleft"></div>
            <div class="subsubinforight"> <p> {{ player.accountname }} </p> </div>
        </div>
        <div class="subinfo">
            <div class="subsubinfoleft"></div>
            <div class="subsubinforight">
            <p> Rank: {{ player.rank }} </p>
            <p> Division: {{ player.division }} </p>
            </div>
        </div>
    </div>
        
    </div>
    <div class="rightsub">
        <div class="humandiv">
            <img class="picture" alt="{{ player.name }}" src="{{ player.selfiepath | slug }}">
            <div class="name">{{ player.name }}</div>
        </div>
        
    </div>
</div>

