---
layout: base.njk
pagination:
    data: players
    size: 1
    alias: player
permalink: "players/{{ player.name | slug }}/"
---

<div class="subcontainer">
    <div class="leftsub">
    <div class="accountdiv">
        <div class="subinfo">
            <div class="subsubinfoleft" id="leftBox"> profilepic</div>
            <div class="subsubinforight"> <p class="bigfont"> {{ player.accountname }} </p> </div>
        </div>
        <div class="subinfo">
            <div class="subsubinfoleft"></div>
            <div class="subsubinforight">
            <p> Solo/Duo Rank</p>
            <p class="bigfont blue" id="pRank">{{ player.rank }}</p>
            <p> Division: <div class="bigfont blue">{{ player.division }}</div> </p>
            </div>
        </div>
    </div>
        
    </div>
    <div class="rightsub">
        <div class="humandiv">
            <img class="picture" alt="{{ player.name }}" src="{{ player.selfiepath | url }}">
            <div class="name">{{ player.name }}</div>
        </div>
        
    </div>
    <script src="/scripts/emblemController.js"></script>
</div>

